body{
    margin: 0;
    background: lightgrey;
}

:root{
    --main-color: rgb(248, 241, 241);
    --color-sm: rgb(100, 149, 237);
}

h3{
    font-size: 20px;
}

header{
    background-color: rgb(100, 149, 237);
    position: sticky;
    top: 0;
    z-index: 4;
    width: 100%;
    justify-content: center;

}

ul{
    display: flex;
    justify-content: center;
}

li{
    display: block;
    list-style-type: none;
    margin-left: 5%;
    justify-content: center;

}

.text-proyecto{
    align-content: center;
}

.font-tex{
    font-size: 100px;
    justify-content: center;
    align-content: center;
}

.container-sobremi{
    margin: 40px 0 ;
    background: var(--color-sm);
    border: solid var(--color-sm);
    border-radius: 10px;
    box-shadow: var(--color-sm) ;
    justify-content: center;
    box-sizing: 50%;
    
}

.conocimiento{
    width: 60rem;
    text-align: center;
    text-justify: auto;
    background: var(--color-sm);
    border-radius: 10px;
    box-shadow: 10px var(--color-sm);
    
}

.bg{
    text-align: center;
    padding: 10px;
    height: 100vh;
    background-size: cover;
    box-sizing: border-box;
    
}

.bg-text{
    color:var(--main-color);
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    font-family: 'Rubik Mono One', sans-serif;
}

.home{
    background-image: url("/image/desarrollo-web.png");
   /*  filter: blur(2px); */
}

.cb{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.card-text{
    font-family: 'New Tegomin', serif;
}

form{
    background: rgb(93, 93, 224);
    display: solid;
    justify-content: center;
    box-sizing: 25rem;
    border: solid rgb(93, 93, 224) 20px;
    border-radius: 20px;
}

.text-contac{
    text-align: center;
}


.container-contacto{
    display: solid;
    width: 25rem;
    align-content: center;
    margin: auto;

}

.whatsapp{
    display: flex;
    margin-left: 10px;
    direction: left;
    position: sticky;
    background: rgb(0, 0, 0);
    width: 10rem;
    border: solid black;
    border-radius: 10px;
}



.social{
    justify-content: center; 
    align-content: center;
}


footer{
    background: black;
    padding: 20px 0;
    color: var(--main-color);
    margin-top: 40px;       
}

